.grid-section {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr;
  margin-bottom: 1em;
  line-height: 1.5em;

  h2 {
    margin: 0;
    font-size: 1em;
  }

  .title {
    font-style: italic;
  }
}

@media (max-width: 800px) {
  .grid-section {
    grid-template-columns: 1fr;
  }
}