@import '../variables';

#resume {
  max-width: 900px;
  margin: auto;
  padding: 0.5em;
  font-size: 0.9em;

  h1 {
    margin: 0.5em 0;
  }

  .skills-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    div {
      margin-right: 0.25em;
    }

    h2 {
      margin: 0;
      font-size: 1em;
    }

    ul {
      margin-top: 0;
      list-style: none;
      padding: 0;
    }
  }

  .resume-section {
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;
    margin-bottom: 1em;
    line-height: 1.5em;
  
    h2 {
      margin: 0;
      font-size: 1em;
    }
  }
}

@media (max-width: 800px) {
  #resume {
    .resume-section {
      grid-template-columns: 1fr;
    }
  }
}