.header {
  background: url('/prism.png');
  color: #FFFFFF;
  padding: 0.75em;
  height: 4em;
  box-sizing: border-box;

  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 1.5em;
  }

  a {
    color: #EEEEEE;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;

    &:hover {
      color: #FFFFFF;
    }
  }
}