@import '../variables';

.header {
  background: url('/prism.png');
  color: #FFFFFF;
  padding: 0.75em;
  height: $header-height;
  box-sizing: border-box;

  position: fixed;
  width: 100%;
  z-index: 999999;
  top: 0;

  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #FFFFFF;
  }

  a {
    color: #EEEEEE;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;

    &:hover {
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}