@import '../variables';

#site-navigation {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;

  a {
    margin: 0 0.5em;
  } 

  .hamburger {
    display: none;
  }

  .links {
    display: block;
    user-select: none;
  }
}

@media (max-width: 500px) {
  #site-navigation {
    .hamburger {
      display: block;
      padding: 0.5em;
      background: #FFFFFF;
      color: #333333;
      border-radius: 5px;
      cursor: pointer;
    }

    .links {
      display: flex;
      flex-direction: column;

      font-size: 1.5em;

      z-index: 999;
      background: #292929;
      position: absolute;
      top: $header-height;
      left: -100%;
      width: 100%;
      opacity: 0;
      text-align: center;
      transition: all 0.2s ease-out;

      &.open {
        left: 0;
        opacity: 1;
      }

      a {
        margin: 0.5em;
      }
    }
  }
}
