#site-navigation {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;

  a {
    margin: 0 0.5em;
  } 

  .hamburger {
    display: none;
  }

  .links {
    display: block;
    user-select: none;
  }
}

@media (max-width: 500px) {
  #site-navigation {
    .hamburger {
      display: block;
      cursor: pointer;
    }

    .links {
      display: none;
      flex-direction: column;

      z-index: 999;
      background: #292929;
      position: absolute;
      top: 4em;
      left: 0;
      width: 100%;
      text-align: center;

      &.open {
        display: flex;
      }

      a {
        margin: 0.5em;
      }
    }
  }
}
