#projects {
  padding: 0.5em;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
  }

  #project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 25em));
    grid-gap: 2em;
    margin: 1em;
    justify-content: center;
  }
}
